body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: black;
    padding: 20px;
    text-align: center;
}

.header img {
    display: block;
    margin: 0 auto;
}

.header input[type="text"],
.header input[type="date"],
.header input[type="time"] {
    width: calc(20% - 10px);
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.header input:hover[type="text"],
.header input:hover[type="date"],
.header input:hover[type="time"] {
    background-color: #8f8f8f;
}

.header input:hover[type="submit"] {
    background-color: #0079c1;
}

.frota {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.frota h1 {
    font-size: 24px;
    color: #333;
}

.frota h2 {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.frota img {
    margin: 10px;
}

.frota a {
    color: #0079c1;
    font-weight: bold;
}

.footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #0079c1;
}

.quem-somos,
.produtos-servicos,
.contato,
.time,
.onde-estamos {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.quem-somos h1,
.produtos-servicos h1,
.contato h1,
.time h1,
.onde-estamos h1 {
    font-size: 24px;
    color: #333;
}

.quem-somos p,
.produtos-servicos p,
.contato p,
.time ul,
.onde-estamos p {
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {

    .header input[type="text"],
    .header input[type="date"],
    .header input[type="time"] {
        width: 80%;/
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .header input[type="text"],
    .header input[type="date"],
    .header input[type="time"] {
        width: 50%;
    }
}

@media (min-width: 1025px) {

    .header input[type="text"],
    .header input[type="date"],
    .header input[type="time"] {
        width: calc(20% - 10px);
    }
}

@media (max-width: 768px) {
    .frota {
        padding: 10px;
        margin: 10px;
    }
}

@media (min-width: 1025px) {
    .frota {
        padding: 20px;
        margin: 20px;
    }
}